:host{
  .avatar{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 16px;
  }

  table {

    @media screen and (max-width: 630px){
      width: 100%;
      overflow-x: auto;
      display: block;

    }
  }

}

