<div class="background-hero"></div>

<div class="d-flex beetwen panel-responsive">
  <mat-form-field appearance="outline">
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event)">
    @if( loadingFilter ){
      <div matSuffix class="p-l-20 p-r-10">
        <mat-spinner diameter="18" ></mat-spinner>
      </div>

    } @else{
      <mat-icon matSuffix>search</mat-icon>
    }

  </mat-form-field>
  <app-panel-action-heroes
  (pressAction)="action($event)"/>
</div>


@if(!loading){
  @if( filterHeroesList.length == 0){
    <div class="d-flex justify-content-center">
      <mat-icon>search_off</mat-icon>
      <p>No se encontraron resultados</p>
    </div>
  } @else {
    <app-table-heroes
    [changeDataSource]="filterHeroesList"
    (selectedHeroes)="selectedHeroes($event)" />
  }
}
@else {
  <div class="d-flex justify-content-center">
    <div>
      <mat-spinner></mat-spinner>
      <p class="m-t-40">Cargando...</p>
    </div>
  </div>
}

